body {
    margin:0;
}
#main {
    display: grid;
    grid-template-areas:'header header header header'
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
    grid-template-rows: 200px 60px 800px 110px;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    /* Todas as colunas com o mesmo tamanho, 1/4 da tela */
}
header {
grid-area: header;
background-color:rgb(89, 228, 186);
display: flex;
justify-content: space-evenly;
align-items: center;
}
header img {
    width: 14%;
    height: auto;
    border-radius:50%;
}
header h1 {
    font-size: 60pt;
    color: rgb(255, 255, 255);
    font-family: 'Gloria Hallelujah', cursive;

}
nav {
    grid-area: nav;
    background-color: rgb(67, 179, 189);
    display: flex;
    justify-content: space-around;
    align-items:center;
}
nav a {
    text-decoration: none;
    color:rgb(255, 186, 36);
    font-size: 20pt;
    font-family: 'Patua One', cursive;
}
nav a:hover {
    font-size: 22pt;
    color: rgb(26, 119, 91);
}
section {
grid-area: section;
background-color: rgb(187, 53, 82);
display:flex;
justify-content: center;
align-items: center;
}
 section p {
    font-size: 20pt;
    color: white;
    font-family: 'Patua One', cursive;
}
section img {
    height: 40%;
    width:auto;
}
aside {
grid-area: aside;
background-color: rgb(241, 186, 67);
display: flex;
justify-content: center;
align-items: center;
flex-direction: row-reverse;
}
aside img {
    height:40%;
    width:auto;
}
aside p{
    font-size: 20pt;
    color: white;
    font-family: 'Patua One', cursive;
}
footer {
grid-area: footer;
background-color: rgb(39, 143, 108);
}